* {
	box-sizing: border-box;
}

body {
	background: #D5D8DC;
	font-family: 'Poppins', sans-serif;
	color: #212F3C;
}

a {
	color: #212F3C;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header .fa-github {
	font-size: 2.5rem;
	margin-top: 10px;
}

header .title {
	font-size: 2.5rem;
	font-weight: 700;
	margin: 10px;
}

header .fa-address-card {
	font-size: 2rem;
	margin-bottom: 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	background: #EAEDED;
	border-radius: 10px;

	-webkit-box-shadow: 8px 6px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    8px 6px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         8px 6px 10px 0px rgba(50, 50, 50, 0.75);
}

.personal {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.personal-info {
	padding: 10px 0 0 10px;
}

.personal-info * {
	margin-bottom: 10px;
}

.personal-info h1 {
	font-size: 2rem;
	font-weight: 700;
}

.personal-info h5 {
	font-size: 1.2rem;
}

.personal-info input {
	font-family: inherit;
	font-size: 1.6rem;
	border: none;
	border-radius: 10px;
}

.contact {
	padding: 10px 50px 0 0;
}

.contact * {
	margin-bottom: 5px;
	font-size: 1rem;
}

.contact input {
	font-family: inherit;
	font-size: 1rem;
	width: 130px;
}