* {
	box-sizing: border-box;
}

body {
	background: #D5D8DC;
	font-family: 'Poppins', sans-serif;
	color: #212F3C;
}

a {
	color: #212F3C;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header .fa-github {
	font-size: 2.5rem;
	margin-top: 10px;
}

header .title {
	font-size: 2.5rem;
	font-weight: 700;
	margin: 10px;
}

header .fa-address-card {
	font-size: 2rem;
	margin-bottom: 10px;
}